@model UsuarioCreateDTO

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                @if (Model is null)
                {
                    <h1 class="card-header">Crear Usuario</h1>
                }
                else
                {
                    <h1 class="card-header">Editar Usuario</h1>
                }

                <div class="card-body">

@*                     @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <span>@error.ErrorMessage</span>

                                <br />
                            }
                        </div>
                    } *@

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            <span>@TempData["ErrorMessage"]</span>
                            <br />
                        </div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-3" role="alert">
                            @TempData["SuccessMessage"]
                        </div>
                    }

                    <form method="post" asp-action="EditUsuario" asp-controller="Usuario" id="formulario">
                        <div class="form-group">
                            <input type="text" id="Guid" name="Guid" class="form-control" value="@Model?.Guid" hidden />
                        </div>
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            <input type="text" id="Name" name="Name" class="form-control" value="@Model?.Name" />
                        </div>
                        <div class="form-group">
                            <label for="UserName">UserName</label>
                            <input type="text" id="UserName" name="UserName" class="form-control" value="@Model?.UserName" />
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="text" id="Password" name="Password" class="form-control" value="@Model?.Password" />
                        </div>
                        <div class="form-group">
                            <label for="PasswordConfirm">Confirmacion Password</label>
                            <input type="text" id="PasswordConfirm" name="PasswordConfirm" class="form-control" value="@Model?.PasswordConfirm" />
                        </div>

                        <button type="submit" class="btn btn-success mt-3" id="btn-save">Guardar</button>
                    </form>


                </div>



            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Views/User.js"></script>
}

